@import "../../util/variables.less";

.layout-bottom {
  max-height: calc(100vh - @nav-header-height);
  overflow: auto;
  display: flex;
  .left {
    width: @layout-left-width;
    height: 100%;
  }
  .right {
    flex-grow: 1;
    background: #f1f3f4;
  }
}
