.write-blog {
  box-shadow: 0 5px 5px -5px #ccc;
  padding-bottom: 16px;
  & > p {
    font-size: 16px;
    line-height: 50px;
    color: #de5e60;
  }
  & .item-content {
    width: calc(100% - 150px);
    display: inline-block;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-form-item textarea.text-area {
    height: 120px;
    resize: none;
  }

  .item-upload {
    width: 120px;
    height: 120px;
    float: right;
    .ant-upload-picture-card-wrapper,
    .ant-upload-select,
    .ant-upload-list-picture-card-container,
    .ant-upload-list-item {
      width: 120px;
      height: 120px;
    }
  }
  .item-btn {
    width: 160px;
    .ant-btn-primary {
      width: 100%;
    }
  }
}
